.pixelcontainer, .row{
    
    width: 960px;
    height: auto;
    display: flex;
    justify-content: center;
}

.pixels {
    border: solid black 1px;
    height: 40px;
    width: 40px;
    color:rgb(0, 0, 0);
}
